draft/EDA_draft.ipynb
draft/stringency_index.ipynb
data/climate/2021_01_0_weather.nc
data/climate/2021_01_1_weather.nc
data/climate/2021_01_2_weather.nc
data/climate/2021_02_0_weather.nc
data/climate/2021_02_1_weather.nc
data/climate/2021_02_2_weather.nc
data/climate/2021_03_0_weather.nc
data/climate/2021_03_1_weather.nc
data/climate/2021_03_2_weather.nc
data/climate/2021_04_0_weather.nc
data/climate/2021_04_1_weather.nc
data/climate/2021_04_2_weather.nc
data/climate/2022_07_0_weather.nc
data/climate/2022_07_1_weather.nc
data/climate/2022_08_0_weather.nc
data/climate/2022_08_1_weather.nc
data/climate/2022_08_2_weather.nc
data/climate/2022_09_0_weather.nc
data/climate/2022_09_1_weather.nc
data/climate/2022_09_2_weather.nc
data/climate/2022_10_0_weather.nc
data/climate/2022_10_1_weather.nc
data/climate/2022_10_2_weather.nc
data/climate/2022_11_0_weather.nc
data/climate/2022_11_1_weather.nc
data/climate/2022_11_2_weather.nc
data/climate/2022_12_0_weather.nc
data/climate/2022_12_1_weather.nc
data/climate/2022_12_2_weather.nc
data/climate/2023_01_0_weather.nc
data/climate/2023_01_1_weather.nc
data/climate/2023_01_2_weather.nc
data/climate/2022_07_2_weather.nc
