draft/EDA_draft.ipynb
draft/stringency_index.ipynb
data/climate/2021_01_0_weather.nc
data/climate/2021_01_1_weather.nc
data/climate/2021_01_2_weather.nc
data/climate/2021_02_0_weather.nc
data/climate/2021_02_1_weather.nc
data/climate/2021_02_2_weather.nc
data/climate/2021_03_0_weather.nc
data/climate/2021_03_1_weather.nc
data/climate/2021_03_2_weather.nc
data/climate/2021_04_0_weather.nc
data/climate/2021_04_1_weather.nc
data/climate/2021_04_2_weather.nc
data/climate/2022_07_0_weather.nc
data/climate/2022_07_1_weather.nc
data/climate/2022_08_0_weather.nc
data/climate/2022_08_1_weather.nc
data/climate/2022_08_2_weather.nc
data/climate/2022_09_0_weather.nc
data/climate/2022_09_1_weather.nc
data/climate/2022_09_2_weather.nc
data/climate/2022_10_0_weather.nc
data/climate/2022_10_1_weather.nc
data/climate/2022_10_2_weather.nc
data/climate/2022_11_0_weather.nc
data/climate/2022_11_1_weather.nc
data/climate/2022_11_2_weather.nc
data/climate/2022_12_0_weather.nc
data/climate/2022_12_1_weather.nc
data/climate/2022_12_2_weather.nc
data/climate/2023_01_0_weather.nc
data/climate/2023_01_1_weather.nc
data/climate/2023_01_2_weather.nc
data/climate/2022_07_2_weather.nc
data/climate/grid_0.5/2021_01_0_weather.nc
data/climate/grid_0.5/2021_01_1_weather.nc
data/climate/grid_0.5/2021_01_2_weather.nc
data/climate/grid_0.5/2021_02_0_weather.nc
data/climate/grid_0.5/2021_02_1_weather.nc
data/climate/grid_0.5/2021_02_2_weather.nc
data/climate/grid_0.5/2021_03_0_weather.nc
data/climate/grid_0.5/2021_03_1_weather.nc
data/climate/grid_0.5/2021_03_2_weather.nc
data/climate/grid_0.5/2021_04_0_weather.nc
data/climate/grid_0.5/2021_04_1_weather.nc
data/climate/grid_0.5/2021_04_2_weather.nc
data/climate/grid_0.5/2022_07_0_weather.nc
data/climate/grid_0.5/2022_07_1_weather.nc
data/climate/grid_0.5/2022_07_2_weather.nc
data/climate/grid_0.5/2022_08_0_weather.nc
data/climate/grid_0.5/2022_08_1_weather.nc
data/climate/grid_0.5/2022_08_2_weather.nc
data/climate/grid_0.5/2022_09_0_weather.nc
data/climate/grid_0.5/2022_09_1_weather.nc
data/climate/grid_0.5/2022_09_2_weather.nc
data/climate/grid_0.5/2022_10_0_weather.nc
data/climate/grid_0.5/2022_10_1_weather.nc
data/climate/grid_0.5/2022_10_2_weather.nc
data/climate/grid_0.5/2022_11_0_weather.nc
data/climate/grid_0.5/2022_11_1_weather.nc
data/climate/grid_0.5/2022_11_2_weather.nc
data/climate/grid_0.5/2022_12_0_weather.nc
data/climate/grid_0.5/2022_12_1_weather.nc
data/climate/grid_0.5/2022_12_2_weather.nc
data/climate/grid_0.5/2023_01_0_weather.nc
data/climate/grid_0.5/2023_01_1_weather.nc
data/climate/grid_0.5/2023_01_2_weather.nc
data/climate/grid_0.25/2021_12_0_weather.nc
data/climate/grid_0.25/2021_12_1_weather.nc
data/climate/grid_0.25/2021_12_2_weather.nc
data/climate/grid_0.25/2022_01_0_weather.nc
data/climate/grid_0.25/2022_01_1_weather.nc
data/climate/grid_0.25/2022_01_2_weather.nc
data/climate/grid_0.25/2022_02_0_weather.nc
data/climate/grid_0.25/2022_02_1_weather.nc
data/climate/grid_0.25/2022_02_2_weather.nc
data/climate/grid_0.25/2022_03_0_weather.nc
data/climate/grid_0.25/2022_03_1_weather.nc
data/climate/grid_0.25/2022_03_2_weather.nc
data/climate/grid_0.25/2022_04_0_weather.nc
data/climate/grid_0.25/2022_04_1_weather.nc
data/climate/grid_0.25/2022_04_2_weather.nc
data/climate/grid_0.25/2022_05_0_weather.nc
data/climate/grid_0.25/2022_05_1_weather.nc
data/climate/grid_0.25/2022_06_0_weather.nc
data/climate/grid_0.25/2022_05_2_weather.nc
data/climate/grid_0.25/2022_06_1_weather.nc
data/climate/grid_0.25/2022_06_2_weather.nc
data/climate/grid_0.25/2022_07_0_weather.nc
data/climate/grid_0.25/2022_07_1_weather.nc
data/climate/grid_0.25/2022_07_2_weather.nc
data/climate/grid_0.25/2022_08_0_weather.nc
data/climate/grid_0.25/2022_08_1_weather.nc
data/climate/grid_0.25/2022_08_2_weather.nc
data/climate/grid_0.25/2022_09_0_weather.nc
data/climate/grid_0.25/2022_09_1_weather.nc
data/climate/grid_0.25/2022_09_2_weather.nc
data/climate/grid_0.25/2022_10_0_weather.nc
data/climate/grid_0.25/2022_10_1_weather.nc
data/climate/grid_0.25/2022_10_2_weather.nc
data/climate/grid_0.25/2022_11_0_weather.nc
data/climate/grid_0.25/2022_11_1_weather.nc
data/climate/grid_0.25/2022_11_2_weather.nc
data/climate/grid_0.25/2022_12_0_weather.nc
data/climate/grid_0.25/2022_12_1_weather.nc
data/climate/grid_0.25/2022_12_2_weather.nc
data/gpw_v4_population_density_rev11_2pt5_min.nc
