draft/EDA_draft.ipynb
draft/stringency_index.ipynb
data/climate/2021_01_0_weather.nc
data/climate/2021_01_1_weather.nc
data/climate/2021_01_2_weather.nc
data/climate/2021_02_0_weather.nc
data/climate/2021_02_1_weather.nc
data/climate/2021_02_2_weather.nc
data/climate/2021_03_0_weather.nc
data/climate/2021_03_1_weather.nc
data/climate/2021_03_2_weather.nc
data/climate/2021_04_0_weather.nc
data/climate/2021_04_1_weather.nc
data/climate/2021_04_2_weather.nc
